.App-header {
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(5px + 2vmin); */
  font-size: larger;
  color: white;
}

.common_background{
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(5px + 2vmin); */
  font-size: larger;
  color: white;
  margin: 20px;
}


form {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #D9261C;
  padding-top: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.trade{
  align-items: center;
  padding: 15px;
  height: 100px;
  font-size: smaller;
  
}

td, table, td {
  font-family: arial, sans-serif;
  border: 1px solid #D9261C;
  border-collapse: collapse;
  text-align: center;
  color: white;
}
th{
  background-color: white;
  color: black;
  font-family: arial, sans-serif;
  border: 1px solid #D9261C;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
  text-align: center;
}

tr:hover {
  background-color: lightgray;
  color: black;
}

h1 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

.form{
  padding: 14px 28 px;
}
.investment-container{
  border: 3px solid #fff;
  margin: 10px;
}
.float-container {
  border: 3px solid #fff;
  padding: 20px;
  margin: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

img.graphs{
  width: 90%;
  float: center;
}
