body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td {
  text-align: left;
  padding: 8px;
}

thead {
  background-color:darkgray;
}

tr{
  border-bottom: 2px solid white;
} */